DotnetCoreApiDemo/.vs
DotnetCoreApiDemo/DotnetCoreApiDemo/bin
DotnetCoreApiDemo/DotnetCoreApiDemo/obj
TemplateProject/bin
TemplateProject/obj
TemplateProject/output
TemplateProject/images/.DS_Store
TemplateProject/.DS_Store
.DS_Store
DotnetCoreApiDemo/DotnetCoreApiDemo.Tests/bin
DotnetCoreApiDemo/DotnetCoreApiDemo.Tests/obj
